body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    font-family: "Montserrat";
}

header {
    background-color: #1F2937;
}

.links img {
    width: 60px;
    padding-top: 5px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0 15px;
    align-items: center;
    margin-bottom: 40px;
}

ul {
    display: flex;
    gap: 40px;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.photoSection img {
    width: 200px;
    height: 200px;
}

.imgPlaceholder img {
    width: 500px;
}

.photoSection {
    display: flex;
    margin-bottom: 10px;
}

.mainText {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB
}

.bottomHeader {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0px 200px 50px 200px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding-right: 200px;
}

.signUpBtn {
    border-radius: 10px;
    width: 110px;
    height: 27px;
    background-color: #3882F6;
    font-size: 12px;
    font-weight: bolder;
    color: #E5E7EB;
    border-color: #3882F6;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 50px;
}

.title,
.photoSection {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.photoSection {
    margin-bottom: 50px;
}

.text {
    font-size: 18px;
    color: #000000;
}

.quoteContainer {
    background-color: #E5E7EB;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.quoteAuthor {
    margin-top: 20px;
    margin-left: 350px;
    font-weight: 600;
}